<div class="text-responsive colapse text-center ">
    <h1 class="titre-menu text-light">Try it !</h1>
    <p class="desc-titre text-light">Lequel trouverez-vous ?</p>
</div>
<div class="card fixed-bottom mx-auto mb-3 z-2 " id="main-card">
    <div class="card-img-top">
        <img class="d-block mx-auto image-menu" src="/public/images/asterix_obelix_menu.png" alt="Astérix et obélix">
    </div>
    <div class="card-body d-flex justify-content-around align-items-center">
        <input type="file" id="imgUpload" style="display:none"/> 
        <a class="card-link" id="clickImgUpload" onclick="chooseImage()">
            <i class="bi bi-image-fill menu-icon"></i>
            <p class="desc-icone">Take a picture</p>
        </a>
        <div class="text-menu text-center">
            <h1 class="titre-menu">Try it !</h1>
            <p class="desc-titre">Lequel trouverez-vous ?</p>
        </div>
        <a class="card-link" href="">
            <i class="bi bi-camera-fill menu-icon"></i>
            <p class="desc-icone">Upload a picture</p>
        </a>
    </div>
</div>