
<div class="card fixed-bottom mx-auto mb-3 z-2" id="main-card">
    <div class="card-img-top">
        <img class="d-block mx-auto image-menu" src="/public/images/asterix_obelix_menu.png" alt="Astérix et obélix">
    </div>
    <div class="card-body text-center">
        <!-- Ajouter le contenu de la carte bleu ICI !!!! -->
        <img src="" alt="image choisie" id="imgSelected"> 
        <br>
        <a class="aButton" id="chooseImage">Choisir cette image</a>
        <a href="./index.html" class="aButton">Retour</a>
    </div>


