@media (max-width: 991.98px) {
    #navbar-mobile {
        display: block;
    }
    body{ 
        background-color: black !important;
    }
    #navbar-pc{
        background-color: rgb(0, 0, 0) !important; 
    
    }
    .navbar-brand{
        display: none;
        
    }
    
    .card{
        background-color: black;
    }

    .titre-menu{
        font-size: 40px;
    }

    .menu-icon{
        font-size: 100px;
    }

    .desc-titre{
        font-size: 12px;
    }

    .image-menu{
        width: 300px;
    }

    .desc-icone{
        font-size : 15px;
    }
    .text-menu{
        display: none;
    }
    #main-card {
        position: fixed;
        width: 100%;
        bottom: 50px;
    }

    
}