@media (max-width: 991.98px) {
    /* Responsive pour la navbar */
    #navbar-mobile {
        display: block;
    }
    body{ 
        background-color: black !important;
    }
    #navbar-pc{
        background-color: rgb(0, 0, 0) !important; 
    
    }
    .navbar-brand{
        display: none;
        
    }
    
    /* Responsive pour la main card */
    .card{
        background-color: black;
    }

    .titre-menu{
        font-size: 40px;
    }

    .menu-icon{
        font-size: 900%;
    }

    .desc-titre{
        font-size: 30px;
    }

    .image-menu{
        max-width: 50%;
        max-height: 50%;
        min-height: 100%;
        min-width: 300px;
    }

    .desc-icone{
        font-size : 15px;
    }
    .text-menu{
        display: none;
    }
    #main-card {
        position: fixed;
        width: 100%;
        bottom: 50px;
    }
    .text-responsive{
        display: block;
    }

    /*  */
    
}