*{
    font-family: "Montserrat", sans-serif;
}


/* CSS pour la navbar */
.logo{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid black;
}
#navbar-pc{
    background-color: rgb(255, 255, 255) !important; 
    transition: background-color 0.5s;

}

.navbar-brand{
    font-size: 50px;
}
.animation-filiforme{
    position: relative;
}
.animation-filiforme::after{
    width: 0%;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #FFE45E;
    transition: width .5s;
    
}
.animation-filiforme:hover::after{
    width: 100%;
}

.nav-item{
    font-size: 30px;
}

#logo_connexion {
    color: #3463D0;
    font-size: 60px;
}

.active{
    font-weight: 500;
}

#navbar-mobile{
    display: none;
}

body{
    transition: background-color 0.5s;
}

/* CSS Pour le menu */

.card-body{
    background-color: #5299D1;
    border-radius: 24px;
}

.desc-icone{
    border-bottom: 1px solid #FFE45E;
    font-size: 20px;
}

.menu-icon{
    font-size: 250px;
    transition: font-size 0.5s;
}

.card-link{
    text-decoration: none;
    color: white;
    text-align: center;
}

.text-menu{
    color: white;
    text-align: center;
    vertical-align: middle;
}

.titre-menu{
    font-size: 64px;
    font-weight: 500;
    transition: font-size 0.5s;
}

.desc-titre{
    font-style: italic;
    transition: font-size 0.5s;
}

.card{
    border: none;
    transition: background-color 0.5s;
}

.image-menu{
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    transition: width 0.5s;
}

#main-card{
    width: 75%;
}

.text-responsive{
    display: none;
}

/*  */