*{
    font-family: "Montserrat", sans-serif;
}

#logo_nav{
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
#navbar-pc{
    background-color: rgb(255, 255, 255) !important; 
    transition: background-color 0.5s;

}

.navbar-brand{
    font-size: 50px;
}
.animation-filiforme{
    position: relative;
}
.animation-filiforme::after{
    width: 0%;
    content: "";
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: #FFE45E;
    transition: width .5s;
    
}
.animation-filiforme:hover::after{
    width: 100%;
}
.nav-item{
    font-size: 30px;
}

#logo_connexion {
    color: #3463D0;
    font-size: 60px;
}

.active{
    font-weight: 500;
}

#navbar-mobile{
    display: none;
}

body{
    transition: background-color 0.5s;
}

@media (max-width: 991.98px) {
    #navbar-mobile {
        display: block;
    }
    body{ 
        background-color: black !important;
    }
    #navbar-pc{
        background-color: rgb(0, 0, 0) !important; 
    
    }
    .navbar-brand{
        display: none;
        
    }
    
    
}