*{
    font-family: "Montserrat", sans-serif;
}

input {
    border: none;
    border-bottom: 2px solid white;
}

/* CSS pour la navbar */
.logo{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 1px solid black;
}

#navbar-pc{
    background-color: rgb(255, 255, 255) !important; 
    transition: background-color 0.5s;
}

.navbar-brand{
    font-size: 50px;
}
.animation-filiforme{
    position: relative;
}
.animation-filiforme::after{
    width: 0%;
    content: "";
    height: 2px;
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: #FFE45E;
    transition: width .5s;
    
}
.animation-filiforme:hover::after{
    width: 100%;
}

.nav-item{
    font-size: 30px;
}

#logo_connexion {
    color: #3463D0;
    font-size: 60px;
}

#active{
    font-weight: 500;
}

#navbar-mobile{
    display: none;
}

body{
    transition: background-color 0.5s;
}

/* CSS Pour le menu */

.card-body{
    background-color: #5299D1;
    border-radius: 24px;
}

.desc-icone{
    border-bottom: 1px solid #FFE45E;
    font-size: 20px;
}

.menu-icon{
    font-size: 250px;
    transition: font-size 0.5s;
}

.card-link{
    text-decoration: none;
    color: white;
    text-align: center;
    cursor: pointer;
}

.text-menu{
    color: white;
    text-align: center;
    vertical-align: middle;
}

.titre-menu{
    font-size: 64px;
    font-weight: 500;
    transition: font-size 0.5s;
}

.desc-titre{
    font-style: italic;
    transition: font-size 0.5s;
}

.card{
    border: none;
    transition: background-color 0.5s;
}

.image-menu{
    max-height: 50%;
    max-width: 50%;
    width: auto;
    height: auto;
    transition: width 0.5s;
}

#main-card{
    width: 75%;
}

.text-responsive{
    display: none;
}

/** CSS pour la page de connexion */
.aButton {
    color: white;
    text-decoration: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: solid white;
    border-width: 1px;
    border-radius: 30px 30px 30px 30px;
}

.aButton:hover {
    background-color: white;
    color: #5299D1;
    cursor: pointer;
}

.aButton:active {
    padding-left: 2.2%;
    padding-right: 1.8%;
    padding-top: 0.4%;
    padding-bottom: 0.6%;
}

.click {
    color: white;
    text-decoration: none;
}

.click:hover {
    text-decoration: underline;
}

.connexionInputs {
    width: 30%;
    border-bottom: 2px solid white;
    outline: 0;
    color: white;
    padding: 4px 0;
    background: transparent;
}

.connexionInputs:focus {
    border-width: 3px;
    border-image: linear-gradient(to right, #FFE45E, #FFE45E);
    border-image-slice: 1;
    
    &::placeholder {
            color: transparent;
    }
}

/** Css pour la page de choix de l'image */
#imgSelected {
    max-width: 60%;
    max-height: auto;
    margin-bottom: 20px;
}